#pisa-data-container{
  position: relative;
  height: 900px;
}

#pisa-control-button-container{
  position: relative;
  left: 30px;
  top: 120px;
}

.control-button{
  margin-bottom: 40px;
  width: 210px;
}

#gradient-ict-resource{
  height: 35px;
}

.bootstrap-select{
  margin-bottom: 10px;
}

.button-title{
  font-size: 20px;
  font-weight: bold;
}

